<div class="edit-task">
  <div class="edit-task-title">
    <h5>Edit task</h5>
  </div>

  <div class="edit-task-form">
    <%= simple_form_for @task do |f| %>
      <%= f.input :title %>
      <%= f.input :details %>
      <%= f.input :completed, as: :boolean %>
      <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
